<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Blackboard (%GROUP_NAME%)</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
  <main role="main" class="container" id="app">

    <div class="row mb-4">
      <div class="col">
        <h1>Blackboard (%GROUP_NAME%)</h1>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <div class="input-group">
          <select class="custom-select" v-model="serverId" @change="changeServer">
            <option v-for="(item, index) in servers" v-bind:value="index+1">
              Server {{ index+1 }}
            </option>
          </select>
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary" v-on:click="reloadBoard()" :disabled="loading">
              <span v-if="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Reload
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <div class="input-group">
          <input class="form-control" placeholder="Entrytext" v-model="entryText">
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-primary" v-on:click="createEntry()" :disabled="creating || loading">
              <span v-if="creating" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Create
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <h3>Entries</h3>
        <div v-if="!loading">
          <div v-if="entries.length == 0" class="d-flex align-items-center">
            No Entries...
          </div>
          <ul class="list-group">
            <li v-for="entry in entries" class="list-group-item">
              {{ entry.text }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>

  <script src="/vendor/jquery/jquery-3.4.1.min.js"></script>
  <script src="/vendor/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
  <script src="/vendor/vue/vue.min.js"></script>
  <script src="/frontend.js"></script>

  <script type="text/javascript">
    var servers = "%SERVER_LIST%".split(',');
    initFrontend(servers, %SERVER_ID%);
  </script>

</body>

</html>